* { margin: 0; padding: 0; }
html {
    
}
nav {
    padding-left: 40px;
    padding-right: 40px;
    width: 940px;
    height: 89px;
    background-color: #2d303a;
    font-size: 12px;
    line-height: 6px;
    color: white;
    font-family: "Lato";
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    
}

.header-bottom {
    width: 1020px;
    height: 6px;
    background-color: #323746;
}

nav ul :hover {
    color: #f06c64;
    
}
nav ul{
    padding-top: 8px;
    display: grid;
    grid-template-columns: repeat(5, auto);
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    width: 370px;
    justify-self: end;
        
}
nav h1 {
    font-size: 24px;
    margin-right: auto;
}
h1 span {
    color: #f06c64;
}
li span {
    color: black;
}

.slider {
    padding-left: 40px;
    padding-right: 40px;
    width: 940px;
    height: 600px;
    background-color: #f06c64;
    display: grid;
    grid-template-columns: repeat(4, auto);
    align-items: center;
    justify-content: space-between;
}
.phone-block{
    text-align: center;
    margin: 0 auto;
}
.right-phone,
.phone {
    position: relative;
    z-index: 2;
    

}
.shadow,
.right-shadow  {
    position: relative;
    left: 2px;
    top: -466px;
    
}


.services {
    width: 1020px;
    height: 494px;
    background-color: #f2f2f2;
}



dt {
    font-size: 30px;
    
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    
}
dd {
    
    padding-top: 18px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
    
    
}
.features {
    display: grid;
    justify-content: space-between;
    grid-template: repeat(2, 115px) / repeat(3, auto);
    gap: 10px;
    padding-top: 43px;
    
}

.features div {
    display: grid;
    
    grid-template-areas: 
    "i t"
    "i d";
    justify-content: center;
    
    
    grid-template-rows: auto 120px;

}
.icon img {
    padding-top: 10px;
}
.icon {
    grid-area: i;
    width: 55px;
    height: 55px;
    border-radius: 100%;
    border: 2px solid #666d89;
        
    
    
}
.termin {
    grid-area: t;
    font-size: 18px;
    padding-left: 20px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    
}
.description {
    padding-left: 20px;
    padding-top: 10px;
    grid-area: d;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    word-wrap: break-word;
    
}

.right {
    transform: rotate(180deg); 
}
.right-phone,
.right-shadow {
    transform: rotate(90deg) scale(-1, 1);; 
    
    
}
.screen {
    height: 333;
    width: 188;
}
section{
    padding: 59px 40px 0px 40px;
    
}