* { margin: 0; padding: 0; }
nav {
    width: 1020px;
    height: 89px;
    background-color: #2d303a;
    font-size: 12px;
    line-height: 6px;
    color: white;
    font-family: "Lato";
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    
}
.header-bottom {
    width: 1020px;
    height: 6px;
    background-color: #323746;
}

nav ul :hover {
    color: #f06c64;
    
}
nav ul{
    display: grid;
    grid-template-columns: repeat(5, auto);
    align-items: center;
    
}
h1 span {
    color: #f06c64;
}
.slider-bottom {
    width: 1020px;
    height: 15px;
    background-color: #ea676b;
}
.slider {
    width: 1020px;
    height: 600px;
    background-color: #f06c64;
}
.services {
    width: 1020px;
    height: 495px;
    background-color: #f2f2f2;
}
.services-bottom {
    width: 1020px;
    height: 6px;
    background-color: #ffffff;
}

section dt {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
}
section dd {
    
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
}
.features {
    display: grid;
    justify-content: space-around;
    grid-template: repeat(2, 115px) / repeat(3, 300px);
    gap: 10px;
    
}
.features div div {
    width: 59px;
    height: 59px;
    border-radius: 100%;
    border: 2px solid #666d89;
    
    
    
    
    

}
.features div {
    display: grid;
    gap: 10px 10px;
    grid-template-areas: 
    "i t"
    "i d";
    justify-content: center;
    
    grid-template-rows: auto 128px;

}

.icon {
    grid-area: i;
    
    
}
.termin {
    grid-area: t;
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    
}
.description {
    grid-area: d
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    
}
