@font-face {
	font-family: 'Lato';
	src: local('Lato'),
	     url('../assets/fonts/Lato/Lato-Black.ttf') format('truetype');
	     
	font-style: normal;
    font-weight: 900;
}
@font-face {
	font-family: 'Lato';
	src: local('Lato'),
	     url('../assets/fonts/Lato/Lato-Light.ttf') format('truetype');
	     
	font-style: normal;
    font-weight: 300;
}
@font-face {
	font-family: 'Lato';
	src: local('Lato'),
	     url('../assets/fonts/Lato/Lato-Regular.ttf') format('truetype');
	     
	font-style: normal;
    font-weight: 400;
}

*{
    margin: 0;
    padding: 0;
}
body {
    
    width: 1020px;
    font-family: "Lato";
}
.portfolio {
    padding: 40px;
    height: 784px;
    background-color: #2d303a;
}

.portfolio-bottom {
    height: 6px;
    background-color: #323746;
}
.about-us {
    padding: 40px;
    height: 648px;
    background-color: #f2f2f2;
}
.about-us-bottom {
    height: 6px;
    background-color: #ffffff;
}

 h2 {
    letter-spacing: -0.18px;
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
    text-align: left;
    padding-top: 30px;
    
}

 p {
    
    padding-top: 25px;
    line-height: 30px;
    font-size: 18px;
    color: #767e9e;
    font-weight: 300;
    text-align: left;
    
}
.tags {
    padding-top: 11px;
}
.tags a:link {
    margin-right: 5px;
    padding: 3px;
    padding-left: 7.5px;
    padding-right: 7px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-weight: 400;
    text-align: left;
    border: 1px solid;
    border-radius: 5px;
    width: 78px;
    height: 22px;
    text-decoration: none;
}
.tags a:hover {
    color: #dedede;
}
.images {
    padding-top: 19px;
    display: grid;
    grid-template: repeat(3, 187px) / repeat(4, 220px);
    gap: 20px;
    justify-content: center;
    overflow: hidden;
    height: 611px;
    
}
.images div {
    width: 220px;
    height: 187px;
    
    
}
.images div:only-child {

}
.s {
    background-position: 45% 22%;
    background-image: url(assets/img/s.jpg);
}
.o {
    background-position: 57% center;
    background-image: url(assets/img/o.jpg);
}
.y {
    background-position: 38% top;
    background-image: url(assets/img/y.jpg);
}
.e {
    background-position: 57% 22%;
    background-image: url(assets/img/e.jpg);
}
.a {
    background-position: 46% 18%;
    background-image: url(assets/img/a.jpg);
}
.i {
    background-position: 41% 55%;
    background-image: url(assets/img/i.jpg);
}
.t {
    background-position: 20.4% 21%;
    background-image: url(assets/img/t.jpg);
}
.w {
    background-position: 41% 35%;
    background-image: url(assets/img/w.jpg);
}
.p {
    background-position: 47% 40%;
    background-image: url(assets/img/p.jpg);
}
.u {
    background-position: 55.5% 23.7%;
    background-image: url(assets/img/u.jpg);
}
.r {
    background-position: 74% 77.6%;
    background-image: url(assets/img/r.jpg);
}
.q {
    background-position: 47% 25%;
    background-image: url(assets/img/q.jpg);
}
.about-us h2 {
    padding-top: 28px;
}
.about-us p {
    padding-top: 27px;
    letter-spacing: 0.15px;
}
.images div img {
    width: 220px;
    height: 187px;
}
.we div .photo {
    width: 300px;
    height: 300px;
    
    overflow: hidden;
}
.we div .media img {
    width: 33px;
    height: 35px;
    margin-right: 4px;
}
.we {
    display: grid;
    grid-template-columns: repeat(3, auto);
    
    gap: 20px;
    padding-top: 45px;
    
}
h3 {
    padding-top: 14px;
    font-size: 19px;
    font-weight: 900;
    color: #666d89;
    width: 300px;
    height: 20px;
    overflow: hidden;
    letter-spacing: -0.88px;
}
.we div p {
    font-size: 11px;
    font-weight: 400;
    line-height: 21px;
    padding-top: 12px;
    letter-spacing: 0.39px;
}
.media {
    padding-top: 22px;
    
}
.media a :hover{
    background-color: #323746;
    border-radius: 100%;
    
    
    
    
}