@font-face {
	font-family: 'Lato';
	src: local('Lato'),
	     url('../assets/fonts/Lato/Lato-Black.ttf') format('truetype');
	     
	font-style: normal;
    font-weight: 900;
}
@font-face {
	font-family: 'Lato';
	src: local('Lato'),
	     url('../assets/fonts/Lato/Lato-Light.ttf') format('truetype');
	     
	font-style: normal;
    font-weight: 300;
}
@font-face {
	font-family: 'Lato';
	src: local('Lato'),
	     url('../assets/fonts/Lato/Lato-Regular.ttf') format('truetype');
	     
	font-style: normal;
    font-weight: 400;
}

*{
    margin: 0;
    padding: 0;
}
header {
    position: sticky;
    top: 0;
    z-index: 99;
}
html {
    scroll-behavior: smooth;
}
nav {
    padding-left: 40px;
    padding-right: 40px;
    width: 940px;
    height: 89px;
    background-color: #2d303a;
    font-size: 12px;
    line-height: 6px;
    color: white;
    font-family: "Lato";
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    
}

.header-bottom {
    width: 1020px;
    height: 6px;
    background-color: #323746;
}
nav div a  {
    color: white;
    cursor: pointer;
    text-decoration: none;   
}
.active, a:hover {
    color: #f06c64;
}

nav div{
    padding-top: 8px;
    display: grid;
    grid-template-columns: repeat(5, auto);
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    width: 370px;
    justify-self: end;
        
}
nav h1 {

    font-size: 24px;
    margin-right: auto;
}
nav h1:after {
    content: '*';
    color: #f06c64;
}



.slider {
    padding-left: 40px;
    padding-right: 40px;
    width: 940px;
    height: 594px;
    background-color: #f06c64;
    display: grid;
    grid-template-columns: 70px 820px 70px;
    align-items: center;
    justify-content: center;
}
.phone-block{
    text-align: center;
    margin: 0 70px 0 60px;
    height: 485px;
    width: 240px;
    position: relative;

}
div.slide {
    display: flex;
}
.right-phone,
.phone {
    position: relative;
    z-index: 2;
    vertical-align: middle;

    

}
.control {
    cursor: pointer;
}

.item{
    display: none;
    position: relative;
    animation: 0.5s ease-in-out;
}
.active, .next{
    display: block;
}
.next {
    position: absolute;
}

.items-container {
    position: relative;
    overflow: hidden;
}

.to-left {
    animation-name: left;
  }
  
.from-right {
    animation-name: right;
  }
  
.to-right {
    animation-name: right;
    animation-direction: reverse;
  }
  
.from-left {
    animation-name: left;
    animation-direction: reverse;
  }
  @keyframes left {
    from {
      left: 0;
    }
    to {
      left: -100%;
    }
  }
  
  @keyframes right {
    from {
      left: 100%;
    }
    to {
      left: 0;
    }
  }

  .screen-l{
    position: relative;
    vertical-align: middle;
    left: 1px;
    top: -878px;
    z-index: 5;
}

.screen-r{
    position: relative;
    vertical-align: middle;
    left: -48px;
    top: -809px;
    z-index: 5;
}


.right-shadow{
    position: relative;
    vertical-align: middle;
    left: 14px;
    top: -460px;
}
.shadow
  {
    position: relative;
    left: 14px;
    top: -460px;
    vertical-align: middle;
    
}



.services {
    width: 1020px;
    height: 494px;
    background-color: #f2f2f2;
}



dt {
    font-size: 30px;
    
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    
}
dd {
    
    padding-top: 18px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
    
    
}
section.features {
    display: grid;
    justify-content: space-between;
    grid-template: repeat(2, 115px) / repeat(3, auto);
    gap: 10px;
    padding-top: 43px;
    
}

section.features div {
    display: grid;
    width: auto;
    grid-template-areas: 
    "i t"
    "i d";
    justify-content: center;
    
    
    grid-template-rows: auto 120px;

}
div.icon img {
    padding-top: 10px;
}
div.icon {
    grid-area: i;
    width: 55px !important;
    height: 55px;
    border-radius: 100%;
    border: 2px solid #666d89;
        
    
    
}
.termin {
    grid-area: t;
    font-size: 18px;
    padding-left: 20px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    
}
.description {
    padding-left: 20px;
    padding-top: 10px;
    grid-area: d;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    word-wrap: break-word;
    
}

.right {
    transform: rotate(180deg); 
    float:right;
}
.right-phone,
.right-shadow {
    transform: rotate(90deg) scale(-1, 1);; 
    
    
}

section {
    padding: 59px 40px 0px 40px;
    
}
.slider-bottom {
    width: 1020px;
    height: 6px;
    background-color: #ea676b;
}
.features-bottom {
    width: 1020px;
    height: 6px;
    background-color:white;
}


















.portfolio {
    padding: 40px;
    height: 784px;
    background-color: #2d303a;
}

.portfolio-bottom {
    height: 6px;
    background-color: #323746;
}
.about-us {
    padding: 40px;
    height: 648px;
    background-color: #f2f2f2;
}
.about-us-bottom {
    height: 6px;
    background-color: #ffffff;
}

 section.portfolio h2 {
    letter-spacing: -0.18px;
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
    text-align: left;
    padding-top: 30px;
    
}

section.portfolio p {
    
    padding-top: 25px;
    line-height: 30px;
    font-size: 18px;
    color: #767e9e;
    font-weight: 300;
    text-align: left;
    
}
.tags {
    padding-top: 11px;
}
.tags a {
    color:#767e9e;
}
.tags a:link {
    margin-right: 5px;
    padding: 3px;
    padding-left: 7.5px;
    padding-right: 7px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-weight: 400;
    text-align: left;
    border: 1px solid;
    border-radius: 5px;
    width: 78px;
    height: 22px;
    text-decoration: none;
}
.tags a:hover {
    color: #dedede;
}
.images {
    padding-top: 19px;
    display: grid;
    /*grid-template: repeat(3, 187px) / repeat(4, 220px);*/
    gap: 20px;
    justify-content: center;
    overflow: hidden;
    height: 611px;
    grid-template-areas:     "a b c d" "e f h i" "j k l m" ;
    
}
.images div {
    width: 220px;
    height: 187px;
    
    
}
.border{
    border: 5px solid #F06C64;;
    padding: -5px;
    width: 210px !important;
    height: 177px !important;
	
    
}
.images div:only-child {

}
.s {
    grid-area: a;
    background-position: 45% 22%;
    background-image: url(assets/img/s.jpg);
}
.o {
    grid-area: b;
    background-position: 57% center;
    background-image: url(assets/img/o.jpg);
}
.y {
    grid-area: c;
    background-position: 38% top;
    background-image: url(assets/img/y.jpg);
}
.e {
    grid-area: d;
    background-position: 57% 22%;
    background-image: url(assets/img/e.jpg);
}
.a {
    grid-area: e;
    background-position: 46% 18%;
    background-image: url(assets/img/a.jpg);
}
.i {
    grid-area: f;
    background-position: 41% 55%;
    background-image: url(assets/img/i.jpg);
}
.t {
    grid-area: h;
    background-position: 20.4% 21%;
    background-image: url(assets/img/t.jpg);
}
.w {
    grid-area: i;
    background-position: 41% 35%;
    background-image: url(assets/img/w.jpg);
}
.p {grid-area: j;
    background-position: 47% 40%;
    background-image: url(assets/img/p.jpg);
}
.u {
    grid-area: k;
    background-position: 55.5% 23.7%;
    background-image: url(assets/img/u.jpg);
}
.r {
    grid-area: l;
    background-position: 74% 77.6%;
    background-image: url(assets/img/r.jpg);
}
.q {
    grid-area: m;
    background-position: 47% 25%;
    background-image: url(assets/img/q.jpg);
}
.about-us h2 {
    padding-top: 28px;
    letter-spacing: -0.18px;
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
    text-align: left;
    
    
}
.about-us p {
    padding-top: 27px;
    letter-spacing: 0.15px;

    
    line-height: 30px;
    font-size: 18px;
    color: #767e9e;
    font-weight: 300;
    text-align: left;
}
.images div img {
    width: 220px;
    height: 187px;
}
.we div .photo {
    width: 300px;
    height: 300px;
    
    overflow: hidden;
}
.we div .media img {
    width: 33px;
    height: 35px;
    margin-right: 4px;
}
.we {
    display: grid;
    grid-template-columns: repeat(3, auto);
    
    gap: 20px;
    padding-top: 45px;
    
}
.we div h3{
    padding-top: 14px;
    font-size: 19px;
    font-weight: 900;
    color: #666d89;
    width: 300px;
    height: 20px;
    overflow: hidden;
    letter-spacing: -0.88px;
}
.we div p {
    font-size: 11px;
    font-weight: 400;
    line-height: 21px;
    padding-top: 12px;
    letter-spacing: 0.39px;
}
.media {
    padding-top: 22px;
    
}
.media a :hover{
    background-color: #323746;
    border-radius: 100%;
    
    
    
    
}

body {
    
    width: 1020px;
    font-family: "Lato";
    text-align: left;
    color: #767e9e;
}
.forma {
    padding: 0px 40px;
    height: 648px;
    
    background-color: #f06c64;

}

.forma h2 {
    font-size: 30px;
    line-height: 18px;
    font-weight: 900; 
    padding-top: 69px;
    color: #f0d8d9;

}
.forma p {
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    padding-top: 26px;
    text-align: justify;
    color: #f0d8d9;

}

form {
    
}
.pole {
    width: 620px;
    display: inline-block;
    padding-top: 47px;
    }

::-webkit-input-placeholder {
    font-size: 12px;
    
    color: #f48c8f;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;  
    padding-left: 15px;  
    
           
    }
::-moz-placeholder {
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato";
    font-weight: 400;
    text-align: left; 
    padding-left: 15px;
        
    }/* Firefox 19+ */
:-moz-placeholder {
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato";
    font-weight: 400;
    text-align: left; 
    padding-left: 15px; 
    }/* Firefox 18- */
:-ms-input-placeholder {
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    padding-left: 15px;
    }

input, textarea {
    display: block;
    border-radius: 5px;
    background-color: #d6564f;
    color: #f0d8d9;
        
    width: 620px;
    padding: 9px 0;
    margin-bottom: 17px;
    border-style: none;
    font: inherit;
}
textarea {
    
    padding-bottom: 18px;
}

aside {
    padding-top: 47px;
    vertical-align: top;
    width: 280px;
    display: inline-block;
    margin-left: 17px;
    height: 600px;

}

aside h3 {
    
    font-size: 18px;
    line-height: 18px;
    font-weight: 900;
    color: #f0d8d9 !important;
    padding-top: 0;
}

aside p.cont-info, .info {
    font-size: 12px;
    line-height: 21.5px;
    font-weight: 400;
    width: 300px;
    padding-top: 10px;
    text-align: justify;
    hyphens: manual;
    color: #f0d8d9;
    
}
.info {
    padding-top: 7.5px;
}

aside p.cont-info {
    padding-top: 10px;
    height: 100px;
}


.forma-bottom {
    width: 1020px;
    height: 6px;
    background-color: #ea676b;
}

aside div.info {
    display: grid;
    grid-template-columns: 14px auto;
    column-gap: 9px;

}

div.info div a:link {
    color:inherit;
    text-decoration: none;
}
div.info div img {
    display: block;
    margin: 0 auto;
    align-self: bottom;
}
div.info div {
    align-self: center;
    
}


footer {
    padding: 0px 40px;
    width: 940px;
    height: 76px;
    background-color: #2d303a;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr repeat(4, auto);
    align-items: center;
    gap: 6px;

}

footer div {
    height: 34px;
}
footer div a img:hover {
    background-color: #d6564f;
    border-radius: 100%;
    
    
    
    
}
footer div p {
    vertical-align: top;
    padding-top: 10px;
    color: #656d89;
    font-size: 11px;
    margin-left: 2px;
    letter-spacing: 0.35px;
}

div.okno {
    position: sticky;
    border-radius: 5px;
    display: none;
    z-index: 100;
    padding: 20px;
    width: 50vw;
    background-color: khaki;
    
    left: 25vw;
    top: 25vh;
    
    
}
#submit {
    cursor: pointer;
}
#ok { display: block;
    border-radius: 5px;
    background-color: #d6564f;
    color: #f0d8d9;
    cursor: pointer;
    margin: 10px auto 10px auto;
    padding: 9px 20px;
    margin-bottom: 17px;
    border-style: none;
    font: inherit;
}